<?xml version="1.0"?>
<config>
    <tabs>
        <cws translate="label" module="inquiry">
            <label>Capacity Web Solutions</label>
            <sort_order>100</sort_order>
        </cws>
    </tabs>
    <sections>
        <inquiry translate="label" module="inquiry">
            <label>Dealer Inquiry</label>
            <tab>cws</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                     <fields>
                        <enabled translate="label">
							<label>Enabled</label>
							<comment><![CDATA[Select Yes for display the Dealer inquiry on frontend.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
						<enable_toplink>
							<label>Enabled Top Link</label>
							<comment><![CDATA[Select Yes for display the Dealer inquiry top link on frontend.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enable_toplink>
						<toplink translate="label">
							<label>Top Link Label</label>
							<comment><![CDATA[Here, We can Set Dealer inquiry Top Link Label.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enable_toplink>1</enable_toplink>
							</depends>
						</toplink>
						<heading translate="label">
							<label>Heading</label>
							<comment><![CDATA[Here, We can Set Dealer inquiry Form title.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</heading>
						<enable_js translate="label">
							<label>Include Jquery</label>
							<comment><![CDATA[Select Yes for include the jquery library.]]></comment>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_js>
						<description translate="label">
							<label>Description</label>
							<comment><![CDATA[This text will appear under the Dealer inquiry Form title.]]></comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</description>
						<btn_text translate="label">
							<label>Submit button text</label>
							<comment><![CDATA[Set text for the submit button of the form. If empty the default value "Submit" will be used]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</btn_text>
						<success_tital translate="label">
							<label>Success Page Heading</label>
							<comment><![CDATA[Here, We can Set Dealer inquiry Success Page title.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</success_tital>
						<success_des translate="label">
							<label>Success Page Description</label>
							<comment><![CDATA[This text will be displayed after the Dealer inquiry form submission.]]></comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</success_des>
						<indicates translate="label">
							<label>Indicates Required Label</label>
							<comment><![CDATA[Here, We can Change Dealer inquiry Indicates Required Label.]]> </comment>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</indicates>
						<customer>
							<label>Select Customer group for create customer</label>
							<comment><![CDATA[Choose customer type from here for create different type of customer from Dealer Manager.]]></comment>
							<source_model>inquiry/system_config_source_customergroup</source_model>
							<frontend_type>select</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</customer>
					</fields>
                </general>
            </groups>
			<groups>
				<admin_email translate="label">
                    <label>Dealer Inquiry Owner Email Template</label>
					<comment>After submit dealer inquiry form Owner get email notification so you can set Email Subject and Email template here. </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>82</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading translate="label">
							<label>Subject</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</heading>
						<email_template translate="label">
							<label>Email Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email_template>
					</fields>
                </admin_email>
            </groups>
			<groups>
                <customer_email translate="label">
                    <label>Dealer Inquiry Customer Email Template</label>
					<comment>After submit dealer inquiry form customer get email notification so you can set Email Subject and Email template here. </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>85</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading translate="label">
							<label>Subject</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</heading>
						<email_template translate="label">
							<label>Email Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email_template>
					</fields>
                </customer_email>
            </groups>
			<groups>
                <create_account translate="label">
                    <label>Create Customer Email Template</label>
					<comment>When admin click on create customer button. Customer get email notification of his username and password. So for that email you can set email Subject and email template here.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>90</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading translate="label">
							<label>Subject</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</heading>
						<email_template translate="label">
							<label>Email Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</email_template>
					</fields>
                </create_account>
            </groups>
            <groups>
                <change_label translate="label">
                    <label>Change Label of Fields</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <f_name translate="label">
                            <label>Name</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </f_name> 
						<!-- <l_name translate="label">
                            <label>Last Name</label>
							<frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </l_name> -->
						<company_name translate="label">
                            <label>Company Name</label>
						    <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </company_name>
						<vat_number translate="label">
                            <label>Tax/VAT Number</label>
						    <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vat_number>
						<address translate="label">
                            <label>Address</label>
							<frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address>
						<city translate="label">
                            <label>City</label>
							<frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city>
						<state translate="label">
                            <label>State</label>
							<frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </state>
						<country translate="label">
                            <label>Country</label>
							<frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
						<postal_code translate="label">
                            <label>ZIP / Postal Code</label>
							<frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postal_code>
						<contact_number translate="label">
                            <label>Contact Number</label>
							<frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </contact_number>
						<email translate="label">
                            <label>Email</label>
							<frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
						<website translate="label">
                            <label>Website</label>
							<frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </website>
						<description translate="label">
                            <label>Description</label>
							<frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
						<datetime translate="label">
							<label>Date Time</label>
							<frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</datetime>
						<upload_file>
							<label>Upload File</label>
							<frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</upload_file>
							<extra_field_one translate="label">
							<label>Printed Sides</label>
							<frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</extra_field_one>
						<extra_field_two translate="label">
							<label>Special Finishing</label>
							<frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</extra_field_two>
						<extra_field_three translate="label">
							<label>Size</label>
							<frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</extra_field_three>
					</fields>
                </change_label>
            </groups>
            <groups>
                <label_hide translate="label">
                    <label>Show/Hide Fields</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                     <fields>
            			<l_name translate="label">
                            <label>Last Name</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </l_name>
						<vat_number translate="label">
                            <label>Tax/VAT Number</label>
						    <source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vat_number>
						<address translate="label">
                            <label>Address</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address>
						<city translate="label">
                            <label>City</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city>
						<state translate="label">
                            <label>State</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </state>
						<country translate="label">
                            <label>Country</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
						<postal_code translate="label">
                            <label>ZIP / Postal Code</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postal_code>
						<website translate="label">
                            <label>Website</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </website>
						<captcha translate="label">
                            <label>Captcha</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </captcha>
						<datetime>
							<label>Date Time</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</datetime>
						<upload_file>
							<label>Upload File</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[The default file upload size is restricted by server, in general it is maximum 2MB, so if you need to allow more than 2MB to be uploaded then please contact your server support team to increase file upload size limit.]]></comment>
						</upload_file>
						<file_type translate="label">
							<label>Allowed File Types</label>
							<frontend_type>text</frontend_type>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Add comma separated file extensions<br>(for e.g. jpeg,jpg,png)]]></comment>
							<depends>
								<upload_file>1</upload_file>
							</depends>
						</file_type>
						<field_one translate="label">
                            <label>Printed Sides</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </field_one>
						<field_two translate="label">
                            <label>Special Finishing</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </field_two>
						<field_three translate="label">
                            <label>Size</label>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<frontend_type>select</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </field_three>
				    </fields>
                </label_hide>
            </groups>					
		</inquiry>
    </sections>
</config>
