@charset "utf-8";
/* CSS Document */
.contact-formcon{padding:20px 0 58px;}
.contact-formcon h3{color:#3e3e3e; margin-bottom:36px;}
.main-address{width:100%; float:left;}
.main-address ul{border:1px solid #e0e0e0; width:100%; padding:69px 10% 69px 12%; float:left;box-sizing: border-box; }
.bg-red-d2484d{background:#d2484d;}
.bg-grn-559546{background:#559546;}
.bg-sky-4490a0{background:#4490a0;}
.bg-blue-4e75aa{background:#4e75aa;}
.cir45{border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:45px; height:21px; text-align:center; display:inline-block; padding:12px 0;}
.main-address ul li > span{margin-right:8%; vertical-align: middle; display: inline-block; }

.main-address ul li{margin-bottom:26px;  width:100%; float:left;}
.main-address ul li:last-child{margin:0;}
.main-address ul li label{font-family: 'Helvetica'; font-size:20px; color:#3e3e3e;  display: inline-block;  width:72%;  line-height: 27px;
vertical-align: middle;}
.main-address ul li label > span{font-style:italic; color:#9b9a9a; display:block; font-size:16px; }

.main-address ul li a{font-size:20px; color:#3e3e3e;  font-family: 'Helvetica';  transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; display:block;}
.main-address ul li a:hover{color:#9b9a9a}
.mrg-tp5{margin-top:5px;}
.contact-usform{float:left;}
.input-field span {    color: #7e0c0c;    font-size: 20px;}
.input-field.mndrty > label {    font-size: 13px;}


.jfilestyle.jfilestyle-corner {    display: inline-block;    float: left;    width: 59%;}
#brs-img1 {    display: none;}
.jfilestyle.jfilestyle-corner > input { box-sizing: border-box;    height: 39px; background: #fff none repeat scroll 0 0; border: 1px solid #dedede;    border-radius: 0;    color: #696767;   vertical-align: middle; }
div.jfilestyle.jfilestyle-corner input:first-child, div.jfilestyle.jfilestyle-corner span:first-child > label{border-radius:0;  float: left;}
div.jfilestyle label {    background: #7e0c0c none repeat scroll 0 0; border:none; padding:8px 14px 7.6px;   box-sizing: border-box;
	height: 39px;	line-height: 23px;
}

.input-field.wd-fl span {    color: #fff;    font-size: 14px;}
.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 26%) !important; margin:0;}

@media (max-width: 1199px) {
	.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 29%) !important;}
	div.jfilestyle label{padding: 8px 5% 7.6px;}
}
@media (max-width: 1023px) {
	.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 30%) !important;}
}

@media (max-width: 979px) and (min-width: 768px){
	.input-field .inp-text, .input-field .inp-txt-area {    width: 100%;}
}

@media (max-width: 979px) {
	.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 30%) !important;}
	.jfilestyle.jfilestyle-corner {    width: 100%;}
	.cont-support-form .input-field.wd-fl label {/*width: auto;*/}
	.main-address ul {    width: 100%;
		padding: 50px 12px 50px 27px;}
	}

	@media (max-width: 939px) {
		.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 29%) !important;}

	}
	@media (max-width: 767px) {
		.jfilestyle.jfilestyle-corner {    float: right;    width: 59%;}
		.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 26%) !important;}

	}
	@media (max-width: 639px) {
		.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 42%) !important;}
	}
	@media (max-width: 480px) {
		.jfilestyle.jfilestyle-corner {  width: 100%;}
		.jfilestyle.jfilestyle-corner > input {    width: calc(100% - 31%) !important;}
		.main-address ul li a {			font-size: 18px;	    line-height: 23px;	}
		.main-address ul li label {    font-size: 18px;}
		.main-address ul {			padding: 42px 12px 41px 17px;		}

	}
	@media (max-width: 440px) {
		.jfilestyle.jfilestyle-corner > input {    width: 100% !important;    box-sizing: border-box;    height: 39px;    margin-bottom: 12px;}
		div.jfilestyle label{padding: 8px 4% 7.6px;}

	}






